

@mixin flex-column($gap, $column : true ){
    display: flex;
    @if $column{
        flex-direction: column;
    }
    @else{
        flex-direction: row;
    }
    gap: $gap;
}

@mixin grid-pos($row){
    grid-row: $row;
}

@mixin background($url){
    background-image: url($url);
    background-size: cover;
}