

@mixin flex-column($gap, $column : true ){
    display: flex;
    @if $column{
        flex-direction: column;
    }
    @else{
        flex-direction: row;
    }
    gap: $gap;
}

@mixin grid-pos($row, $column-start, $column-end){
    grid-row: $row;
    //grid-column : $column-start / $column-end;
}