@import "./variables";
@import "./typography";
@import "./resets";
@import "./mixins";

body{
    height: 100vh;
    width: 100wh;
    @include flex-column(0rem, true);
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('../images/bg-pattern-bottom-desktop.svg') ;
    /*
    background-repeat: repeat-y;
    background-position: top 100px;*/
}

main{
    @include flex-column(3rem, true);
    padding: 0 250px;
}

.information{
   @include flex-column(5rem, false);
   &__content{
    max-width: 420px;
   }
}

.information__rating{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap:10px;

    #rating-review{
        @include grid-pos(1, 1, 5);
        grid-column: 1/8;
    }
    
    #report-guru{
        @include grid-pos(2, 2, 4);
        grid-column: 2/9;
    }
    
    #besttech{
        @include grid-pos(3, 3, 5);
        grid-column: 3/10;
    }
}

.rating__card{
    background-color: $Light-Grayish-Magenta;
    align-self: center;
    padding: 17px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.rating__card__star{
    display: flex;
    justify-content: space-evenly;
    margin-right: 1rem;
}

.icon-star{
    background-image: url('../images/icon-star.svg') ;
    height: 1rem;
    width: 17px;
    margin: 0 3px
}

.rating__card__text{
    display: flex;
}

.attribution{
    position: absolute;
    bottom: 2rem;
}

.card__review{
    background-color: $Very-Dark-Magenta;
    padding: 2rem;
    border-radius: 10px;
    & header{
        display: flex;
        gap:1.5rem;
        margin-bottom: 1.5rem;
    }
}

.card__review__hero--photo{
    height: 2rem;
    width:30px;
    border-radius: 50%;
}



#photo1{
    @include background('../images/image-colton.jpg');
}

#photo2{
    @include background('../images/image-irene.jpg');
}

#photo3{
    @include background('../images/image-anne.jpg');
}

.costumers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:2rem;
    grid-template-rows: repeat(11, 1.6rem);
}


#card__review__1{
    grid-row: 1/9;
}

#card__review__2{
    grid-row: 2/10;
}

#card__review__3{
    grid-row: 3/11;
}